* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    color: white;
    background-color: #1b1b32;
    font-family: Lato, sans-serif;
    padding-top: 20px;
}

h1{
    font-family: sans-serif;
    font-size: 35px;
}

h2{
    color: #1b1b32;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0
}

.aplicacion-tarea{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.tarea-lista-principal{
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 60px; 
    border-radius: 26px;
}